@import "#/styles/colors.module.scss";
@import "#/styles/breakpoints.module.scss";

.content {
  height: 100%;
  width: 48%;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  padding: 55px 55px 90px 55px;
  font-family: "Roboto";

  @include laptopL {
    width: 100%;
  }

  @include mobileL {
    padding: 30px 30px 90px 30px;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  display: block;
  width: 100%;
  font-size: 39px;
  color: $dark-gray;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 40px;
  font-weight: bold;
  font-family: "Roboto";

  @include mobileL {
    font-size: 25px;
    padding-bottom: 20px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: $dark-gray;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  cursor: pointer;
  transition: all 0.4s;
  font-family: "Roboto";

  @include mobileL {
    font-size: 13px;
    height: 30px;
  }
}

.button:hover {
  background-color: $green;
}
