.name {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  padding: 10px 30px 9px 22px;
  position: relative;
  margin-bottom: 20px;
}

.email {
  width: 49%;
  background: #f7f7f7;
  font-family: "Roboto";
}

.phone {
  width: 49%;
  background: #f7f7f7;
  font-family: "Roboto";
}

.fullname {
  background: #f7f7f7;
  font-family: "Roboto";
}

.date {
  background: #f7f7f7;
  font-family: "Roboto";
}

.message {
  background: white;
  font-family: "Roboto";
}

.label-input {
  font-size: 10px;
  color: #393939;
  line-height: 1.5;
  text-transform: uppercase;
}

.form-input {
  height: 40px;
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding-right: 15px;
}

.form-textarea {
  display: block;
  min-height: 280px;
  max-height: 280px;
  padding-top: 9px;
  padding-bottom: 13px;
  max-width: 100%;
  min-width: 100%;
  background: transparent;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding-right: 15px;
}